$textColor = #000000
$arrowBgColor = #000000
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$codeBgColor = #282c34
$borderColor = #eaecef
$accentColor = #BEA81E
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
